{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1>{{ name_page }}</h1>
    <p>{{ task_group }}</p>
    <!-- ОПИСАТЕЛЬНАЯ СТАТИСТИКА -->

<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_ul_li"><a class="nav_li_a" href="/">На главную</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="normal_distribution">Нормальное распределение</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="parametric_criterium">Параметрические критерии</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="no_parametric_criterium">Непараметрические критерии</a></li>
    </ul>
</nav>

    <p>{{ tasks }}</p>

<div align="center">
    <form action="{% url 'result_descriptive_statistics' %}" method="POST">
        {% csrf_token %}
        <p>Какое-то описание, чет введи, тыкни расчитать... <br>Вводить сколько-то значений</p>
        <table width="20%" border="1" cellpadding="4" cellspacing="0" bordercolor="#666666" bordercolorlight="#666666" bordercolordark="#FFFFFF">
            <tr align="center" valign="middle">
                <th>Значения</th>
            </tr>
            <tr align="center">
                <td>
                    <textarea name="first_param" required cols="4" rows="10" minlength="4" wrap="soft"></textarea>
                </td>
            </tr>
        </table>
        <p></p>
        <button type="submit">Расчитать</button>
        <input name="reset" type="reset">
    </form>
  </div>

</body>
</html>