{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1 class="name_page">{{ name_page }}</h1>
    <!-- ОПИСАТЕЛЬНАЯ СТАТИСТИКА -->

<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_ul_li"><a class="nav_li_a" href="/">Главная</a></li>
        <li class="nav_ul_li"><a class="nav_li_a activ_nav" href="descriptive_statistics">Описательная статистика</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="normal_distribution">Нормальное распределение</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="parametric_criterium">Параметрические критерии</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="no_parametric_criterium">Непараметрические критерии</a></li>
    </ul>
</nav>


        <div style="width:95%;" class="image_start_page" >
                <div style="width:35%">
                    <p style="text-indent: 30px; text-align: justify;">
                        <b>Описательная статистика</b> представляет собой набор методов, позволяющих кратко и наглядно
                        охарактеризовать основные особенности выборки данных. Она включает в себя вычисление
                        центральных тенденций (среднее значение, медиана, мода), мер разброса
                        (дисперсия, стандартное отклонение) и других показателей, дающих первичное представление о
                        наборе данных.
                    </p>
                    <p style="text-indent: 30px; text-align: justify;">
                        Особое внимание в описательной статистике уделяется анализу формы распределения:
                        вычисляются коэффициенты асимметрии и эксцесса, которые позволяют оценить,
                        насколько выборка соответствует нормальному распределению.
                        При нормальном распределении коэффициент асимметрии близок к нулю
                        (что указывает на симметричность распределения), а коэффициент эксцесса примерно равен трем
                        (или нулю при нормированном показателе), что свидетельствует о характерной “колоколообразности”
                        кривой распределения.
                    </p>
                    <p style="text-indent: 30px; text-align: justify;">
                        Полученные показатели описательной статистики не только дают общую характеристику выборки,
                        но и помогают определить, какие методы статистического анализа будут наиболее уместны для
                        дальнейшего исследования данных.
                    </p>
                </div>
            <!-- форма ввода -->
              <div style="display: grid; place-items: center; padding-left: 50px; width: 55%;">
                    <p style=" text-align: centre; width: 77%; font-size: 12px; margin: 0">
                  Для расчета необходимо ввести до 120 значений<br>
                  Данные вводятся через пробел или с новой строки, <br>
                  в качестве разделителя может использоваться точка или запятая.
                    </p>
                    <form action="{% url 'result_descriptive_statistics' %}" method="POST" style="width:95%">
                        {% csrf_token %}
                        <table width="50%" border="1" cellpadding="4" cellspacing="0" bordercolor="#666666" bordercolorlight="#666666" bordercolordark="#FFFFFF">

                            <tr align="center" valign="middle">
                                <th>Значения</th>
                            </tr>
                            <tr align="center">
                                <td>
                                    <textarea name="first_param" required cols="4" rows="10" minlength="4" wrap="soft"></textarea>
                                </td>
                            </tr>
                        </table>
                        <p></p>
                        <button type="submit">Рассчитать</button>
                        <input name="reset" type="reset">
                    </form>
              </div>
        </div>




</body>
</html>