{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1>{{ name_page }}</h1>


<div>

<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_ul_li"><a class="nav_li_a activ_nav" href="/">Главная</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="descriptive_statistics">Описательная статистика</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="normal_distribution">Нормальное распределение</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="parametric_criterium">Параметрические критерии</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="no_parametric_criterium">Непараметрические критерии</a></li>
    </ul>
</nav>
</div>
<div>

    <div  style="width:95%" class="image_start_page">
        <div  style="width:25%">
            <p style="text-indent: 30px; text-align: justify; font-size:12px">
                <b><i>«МедМатСтат»</i></b> – это облачное цифровое средство, предназначенное для статистической обработки данных
                разработанное специально для студентов медицинского вуза и медицинских работников.
                В медицине важна точность и доступность информации, поэтому в программу встроены необходимые критерии,
                которые позволяют решить широкий круг медицинских задач. Сложные расчеты скрыты от глаз пользователей,
                что позволяет сосредоточиться на главном: интерпретации результатов и принятии решений, на основе полученных выводов.
            </p>
            <p style="text-indent: 30px; text-align: justify; font-size:12px">
            На главном экране представлены два алгоритма выбора статистического критерия, один из которых учитывает типы выборок,
            другой -  специфику решаемой задачи.
            </p>
            <p style="text-indent: 30px; text-align: justify; font-size:12px">
            При решении любой статистической задачи или проведении статистического анализа данных
            необходимо провести предварительную статистическую обработку, которая также нужна для выбора подходящего критерия.
            Для этого вы можете воспользоваться разделами «Описательная статистика» и «Нормальное распределение» в меню.
            </p>
            <p style="text-indent: 30px; text-align: justify; font-size:12px">
            Мы стремимся сделать статистику доступной для всех, кто работает в области медицины,
            помогая принимать обоснованные решения на основе полученных данных.
            </p>
        </div>
        <div style="width:35%">
            <img style="width:90%"  class="image_start_page" src="{% static 'start_page_algoritm.svg'%}" >
        </div>
        <div style="width:37%">
            <img style="width:90%" class="image_start_page" src="{% static 'start_page_table.svg'%}" >
        </div>

    </div>

</div>




</body>
</html>