{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1 class="name_page">{{ name_page }}</h1>
    <!-- НЕПАРАМЕТРИЧЕСКИЕ КРИТЕРИИ -->
<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_ul_li"><a class="nav_li_a" href="/">Главная</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="descriptive_statistics">Описательная статистика</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="normal_distribution">Нормальное распределение</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="parametric_criterium">Параметрические критерии</a></li>
        <li class="nav_ul_li"><a class="nav_li_a activ_nav" href="no_parametric_criterium">Непараметрические критерии</a></li>
    </ul>
</nav>

    <p>{{ tasks }}</p>

    <div class="tab">
      <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
      <label for="tab-btn-1">Критерий знаков</label>
      <input id="tab-btn-2" name="tab-btn" type="radio" value="">
      <label for="tab-btn-2">Корреляция по Спирману</label>
      <input id="tab-btn-3" name="tab-btn" type="radio" value="">
      <label for="tab-btn-3">Критерий Уилкоксона</label>


  <div class="tab-content" id="content-1" align="center">
      <!-- Критерий знаков -->
      <div style="width:95%;" class="image_start_page">
          <div style="width:30%" >
            <p style="text-indent: 30px; text-align: justify;">
                Критерий знаков (G-критерий) – это непараметрический статистический метод, предназначенный
                для определения общего направления сдвига исследуемого признака при переходе от первого измерения ко второму.
                Он позволяет установить, в какую сторону изменяются значения признака:
                в сторону улучшения, повышения или усиления, либо, наоборот, в сторону ухудшения,
                понижения или ослабления. Критерий знаков применим как к качественным изменениям
                (например, смена отрицательного отношения на положительное), так и к количественным сдвигам
                (например, изменение времени выполнения задания).
            </p>
            <p style="text-indent: 30px; text-align: justify;">
                <b>Основные задачи</b>, для которых используется критерий знаков: <br>
                - Оценка эффективности образовательных программ по изменению успеваемости студентов<br>
                - Анализ влияния медицинских препаратов на показатели здоровья пациентов<br>
                - Исследование изменений психологических характеристик после психотерапевтического вмешательства<br>
                - Оценка эффективности тренировочных программ по изменению спортивных результатов<br>
                - Анализ изменений потребительских предпочтений после маркетинговых кампаний
            </p>
            <p style="text-indent: 30px; text-align: justify;">
              Важно отметить, что критерий знаков исключает из рассмотрения “нулевые” сдвиги (когда показатели не изменяются)
            </p>
          </div>
          <div style="display: grid; place-items: center; padding-left: 50px;">
              <p>Для расчета необходимо ввести от 8 до 35 значений в каждую колонку <br>
                  Данные вводятся через пробел или с новой строки, <br>
                  в качестве разделителя может использоваться точка или запятая
              </p>
              <form action="{% url 'result' %}" method="POST">
            {% csrf_token %}
            <table width="100%" border="1" cellpadding="4" cellspacing="0" bordercolor="#666666" bordercolorlight="#666666" bordercolordark="#FFFFFF">
                <tr align="center" valign="middle">
                    <th>Первая выборка</th>
                    <th>Вторая выборка</th>
                </tr>
                <tr align="center">
                    <td>
                        <textarea name="first_param" required cols="4" rows="10" minlength="8" wrap="soft"></textarea>
                    </td>
                    <td>
                        <textarea name="second_param" required cols="4" rows="10" minlength="8" wrap="soft"></textarea>
                    </td>
                </tr>
            </table>
            <p></p>
            <button type="submit">Рассчитать</button>
            <input name="reset" type="reset">
        </form>
           </div>
      </div>
  </div>

        <!-- Корреляция по Спирману -->
<div class="tab-content" id="content-2" align="center">
    <div style="width:95%;" class="image_start_page" >
                <div style="width:35%">
                    <p style="text-indent: 30px; text-align: justify;">
                        Описание
                    </p>
                </div>
            <!-- форма ввода -->
              <div style="display: grid; place-items: center; padding-left: 50px;">
                    <p style=" text-align: centre; width: 77%; font-size: 12px; margin: 0">
                            Что-то вводим, что-то получаем.
                    </p>
                    <form action="{% url 'result_spearmanr_criterium' %}" method="POST" style="width:95%">
                        {% csrf_token %}
                        <table width="80%" border="1" cellpadding="4" cellspacing="0" bordercolor="#666666" bordercolorlight="#666666" bordercolordark="#FFFFFF">

                            <tr align="center" valign="middle">
                                <th>Первая выборка</th>
                                <th>Вторая выборка</th>
                            </tr>
                            <tr align="center">
                                <td>
                                    <textarea name="first_param" required cols="4" rows="10" minlength="4" wrap="soft"></textarea>
                                </td>
                                <td>
                                    <textarea name="second_param" required cols="4" rows="10" wrap="soft"></textarea>
                                </td>
                            </tr>
                        </table>
                        <p></p>
                        <button type="submit">Рассчитать</button>
                        <input name="reset" type="reset">
                    </form>
              </div>
        </div>
</div>

<div class="tab-content" id="content-3" align="center">
    in process
</div>
</div>

</body>
</html>