{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1 class="name_page">{{ name_page }}</h1>
    <!-- НОРМАЛЬНОЕ РАСПРЕДЕЛЕНИЕ -->

<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_ul_li"><a class="nav_li_a" href="/">Главная</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="descriptive_statistics">Описательная статистика</a></li>
        <li class="nav_ul_li"><a class="nav_li_a activ_nav" href="normal_distribution">Нормальное распределение</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="parametric_criterium">Параметрические критерии</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="no_parametric_criterium">Непараметрические критерии</a></li>
    </ul>
</nav>

    <p>{{ tasks }}</p>
    <div class="tab">
        <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
        <label for="tab-btn-1">Критерий Шипиро-Уилка</label>


    <div class="tab-content" id="content-1" align="center">
    в разработке
    </div>
    </div>
</body>
</html>