{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1>{{ name_page }}</h1>
    <p>{{ task_group }}</p>
    <!-- ПАРАМЕТРИЧЕСКИЕ КРИТЕРИИ -->
        <nav>
            <ul>
                <li><a href="/">На главную</a></li>
                <li><a href="descriptive_statistics">Описательная статистика</a></li>
                <li><a href="normal_distribution">Нормальное праспределение</a></li>
                <li><a href="no_parametric_criterium">Непараметрические критерии</a></li>
            </ul>
        </nav>


    <p>{{ tasks }}</p>

      <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
      <label for="tab-btn-1">Параметрический t-Критерий Стьюдента</label>
      <input id="tab-btn-2" name="tab-btn" type="radio" value="">
      <label for="tab-btn-2">Карреляция по Пирсону</label>


<!-- Критерий t-Стьюдента -->
  <div class="tab-content" id="content-1" align="center">
    <form action="{% url 'result_stat_param2' %}" method="POST">
        {% csrf_token %}
        <p>Какое-то описание, чет введи, тыкни расчитать... <br>Вводить от 9 до 30 значений, количество введенных значений должно совпадать</p>
        <table width="20%" border="1" cellpadding="4" cellspacing="0" bordercolor="#666666" bordercolorlight="#666666" bordercolordark="#FFFFFF">
            <tr align="center" valign="middle">
                <th>Значение А</th>
                <th>Значение Б</th>
            </tr>
            <tr align="center">
                <td>
                    <textarea name="first_param" required cols="4" rows="10" minlength="4" wrap="soft"></textarea>
                </td>
                <td>
                    <textarea name="second_param" required cols="4" rows="10" wrap="soft"></textarea>
                </td>
            </tr>
        </table>
        <p></p>
        <button type="submit">Расчитать</button>
        <input name="reset" type="reset">
    </form>
  </div>

  <div class="tab-content" id="content-2" align="center">
  в разработке
  </div>

</body>