{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <h1 class="name_page">{{ name_page }}</h1>
    <!-- ПАРАМЕТРИЧЕСКИЕ КРИТЕРИИ -->

<nav class="nav">
    <ul class="nav_ul">
        <li class="nav_ul_li"><a class="nav_li_a" href="/">Главная</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="descriptive_statistics">Описательная статистика</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="normal_distribution">Нормальное распределение</a></li>
        <li class="nav_ul_li"><a class="nav_li_a activ_nav" href="parametric_criterium">Параметрические критерии</a></li>
        <li class="nav_ul_li"><a class="nav_li_a" href="no_parametric_criterium">Непараметрические критерии</a></li>
    </ul>
</nav>

    <p>{{ tasks }}</p>

    <div class="tab">
      <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
      <label for="tab-btn-1" >Параметрический t-Критерий Стьюдента</label>
      <input id="tab-btn-2" name="tab-btn" type="radio" value="">
      <label for="tab-btn-2" >Корреляция по Пирсону</label>


<!-- Критерий t-Стьюдента -->
        <div class="tab-content" id="content-1" align="center">

            <!-- Описание -->
        <div style="width:95%;" class="image_start_page" >
                <div style="width:35%">
                    <p style="text-indent: 30px; text-align: justify;">
                        t-критерий Стьюдента для независимых выборок — это статистический метод,
                        используемый для сравнения средних значений двух независимых групп. <br>
                        &emsp; Он позволяет определить, существует ли статистически значимая разница между этими средними.
                    </p>
                    <p style="text-indent: 30px; text-align: justify;">
                        Задачи, для решений которых может использоваться<i> t-критерий Стьюдента:</i>
                        <br>- Сравнение результатов лечения между двумя группами пациентов <br> <i> &emsp; (например, одна группа получает новый препарат, а другая — плацебо).</i>
                        <br>- Оценка различий в показателях <br> <i> &emsp;(например, уровень стресса между двумя независимыми группами (мужчины и женщины)).</i>
                        <br>- Анализ влияния различных условий на результаты эксперимента <br> <i> &emsp;(например, разные методы обучения).</i>
                    </p>
                </div>
            <!-- форма ввода -->
              <div style="display: grid; place-items: center; padding-left: 50px;">
                    <p style=" text-align: centre; width: 77%; font-size: 12px; margin: 0">
                            Для расчета необходимо ввести от 9 до 30 значений. <br>
                            Количество введенных значений в обоих выборках должно совпадать.
                    </p>
                    <form action="{% url 'result_stydent_criterium' %}" method="POST" style="width:95%">
                        {% csrf_token %}
                        <table width="80%" border="1" cellpadding="4" cellspacing="0" bordercolor="#666666" bordercolorlight="#666666" bordercolordark="#FFFFFF">

                            <tr align="center" valign="middle">
                                <th>Первая выборка</th>
                                <th>Вторая выборка</th>
                            </tr>
                            <tr align="center">
                                <td>
                                    <textarea name="first_param" required cols="4" rows="10" minlength="4" wrap="soft"></textarea>
                                </td>
                                <td>
                                    <textarea name="second_param" required cols="4" rows="10" wrap="soft"></textarea>
                                </td>
                            </tr>
                        </table>
                        <p></p>
                        <button type="submit">Расчитать</button>
                        <input name="reset" type="reset">
                    </form>
              </div>
        </div>
    </div>

    <div class="tab-content" id="content-2" align="center">
        в разработке
    </div>
</div>
</body>